.parent-container {
  display: flex;

}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  height: 900px;
  width: 7%;
  color: #fff;
}

.profile-content {
  background-color: #1974E2;
  color: #fff;
  text-align: center;
}

img {
  margin-top: 50px;
  width: 60%;
  border-radius: 50%;
}

.main-content {
  background-color: #222222;
  color: #fff;
}

body {
  margin: 0;
}

i {
  margin-top: 60px;
}

i:hover {
  color: #1974E2;
}

.profile-information {
  margin: 20px;
}
